@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Black.otf');
    src: url('../fonts/Objectivity-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBold.otf');
    src: url('../fonts/Objectivity-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}


